/* CSS */

body {
    display: flex;
    color: whitesmoke;
    background-color: black;
    flex-direction: column;
    gap: 20px;
    /* flex-wrap: wrap; */
}

/* CSS FOR THE MENU */

.tab {
    position: fixed;
    background-color: blueviolet;
    width: 100vw;
    height: 10vh;
    border: 2px solid grey;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 5px;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 5;
    flex-wrap: wrap;
}

.img {
    width: 8vw;
    height: 8vh;
    position: relative;
    align-self: center;
    left: 2px;
}

.logo {
    width: 8vw;
    height: 8vh;
    object-fit: contain;
    position: relative;
    align-self: center;
}

.nav_bar {
    width: 25vw;
    position: relative;
    display: flex;
    flex-direction: row;
    align-self: center;
}

.name {
    position: relative;
    font-size: xx-large;
    align-self: center;
}

.nav_ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.nav_li {
    padding-right: 20px;
    margin: 1px;
    font-size: large;
    gap: 5px;
}

.account {
    display: flex;
    gap: 10px;
}

.login {
    background-color: rgb(177, 99, 251);
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid grey;
    border-radius: 10px;
    margin: 1px;
    font-size: large;
    align-self: center;

}

/* CSS FOR THE MENU */

/* ---------------- */

/* CSS FOR THE SIDE BAR */

/*.side_nav{
    position: fixed;
    display: flex;
    width: 10vw;
    height: 85vh;
    top: 12vh;
    background-color:rgb(177, 99, 251);
}
.a_nav{
    display:flex;
}
.a_ul{

}
.a_li{
    position: relative;
    column-gap: 50px;
    font-size: large;
 } */

/* CSS FOR THE SIDE BAR */

/* ---------------- */

/* CSS FOR THE MAIN CONTENT */

.body {

    display: flex;
    flex-direction: column;
    position: relative;
    top: 11vh;
    gap: 20px;

}

/* CSS FOR THE ABOUT PAGE */

.about {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 50vw;
    flex-wrap: wrap;
}

.abt_head {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.top {
    position: relative;
    padding: 0px;
    font-size: 5vh;
    margin-top: 0px;
    margin-bottom: 0px;
    /* border: 2px solid grey; */
}

.mid {
    position: relative;
    padding: 0px;
    font-size: 5vh;
    margin-top: 0px;
    /* border: 2px solid grey; */
}

.about_p_content{
    font-size: x-large;
}

/* -------------- */

/* CSS OF THE CARDS */

.ele_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 50px;

}

.ele_head {
    align-self: center;
}

.elements {
    border: 2px solid grey;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    background-color: grey;
    width: 25vw;
    font-size: larger;
    /* align-self: center; */
}

.ele_img {
    width: 25vw;
    object-fit: contain;
    border-radius: 15px;
}


.goto {
    display: flex;
    position: relative;
    align-self: center;
    padding: 5px;
    margin: 5px;
    background-color: blueviolet;
    border-radius: 5px;
    gap: 5px;
}

.goto_icon {
    width: 15px;
    height: 15px;
    object-fit: cover;
    align-self: center;
}

/* ----------- */

/* CSS OF QNA */

.qna_box {
    align-self: center;
    width: 80vw;
    display: flex;
    flex-direction: column;
    gap: 0px;

}

.qna_head {
    font-size: 5vh;
    border-radius: 10px;
    align-self: center;
}

.qna {
    font-size: large;
    display: flex;
    flex-direction: column;
    font-size: 3vh;

}

.quest {
    border: 2px solid grey;
    border-radius: 5px;
    margin-bottom: 0px;
    padding: 10px;
    background-color: rgb(46, 46, 46);
}

.ans {
    border: 2px solid grey;
    border-radius: 5px;
    margin-top: 0px;
    padding: 10px;
    background-color: rgb(186, 113, 255);
}

/* -------------- */

/* CSS OF THE FOOTER */

.foot {
    display: flex;
    width: 80vw;
    margin-top: 10vh;
    align-self: center;
    justify-content: space-around;
    align-items: center;

}

.foot_div {
    display: flex;
    flex-direction: row;
}

.team_name {
    font-size: x-large;
}

/* ------------------- */


/* Media Query part of CSS */


@media only screen and (max-width: 1080px) {
    .tab {
        position: fixed;
        background-color: blueviolet;
        width: 100vw;
        height: 10vh;
        border: 2px solid grey;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 5px;
        top: 0px;
        left: 0px;
        right: 0px;
        z-index: 5;
        flex-wrap: wrap;
    }

    .img {
        width: 8vw;
        height: 8vh;
        position: relative;
        align-self: center;
        left: 2px;
    }

    .logo {
        width: 8vw;
        height: 8vh;
        object-fit: contain;
        position: relative;
        align-self: center;
    }

    .nav_bar {
        width: 25vw;
        position: relative;
        display: flex;
        flex-direction: row;
        align-self: center;
    }

    .name {
        position: relative;
        font-size: xx-large;
        align-self: center;
    }

    .nav_ul {
        list-style: none;
        display: flex;
        flex-direction: row;
    }

    .nav_li {
        padding-right: 20px;
        margin: 1px;
        font-size: large;
        gap: 5px;
    }

    .account {
        display: flex;
    }

    .login {
        background-color: rgb(177, 99, 251);
        position: relative;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        border: 2px solid grey;
        border-radius: 10px;
        margin: 1px;
        font-size: large;
        align-self: center;
    }

    .ele_box {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        row-gap: 60px;

    }

    .ele_head {
        align-self: center;
    }

    .elements {
        border: 2px solid grey;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        background-color: grey;
        width: 350px;
    }

    .ele_img {
        width: 350px;
        object-fit: contain;
        border-radius: 15px;
    }
}

@media only screen and (max-width: 960px) {

    .nav_bar {
        display: none;
    }
}

@media only screen and (max-width: 720px) {
    .foot {
        display: none;
    }

    .login {
        display: none;
    }
}